.container {
  display: flex;
  align-items: center;
  flex-direction: column;  
}

.container h1 {
  color: #E1E1E6;
}

.container form {
  background: #44475a;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 15rem;
  height: 15rem;

  border-radius: 1rem;
}

.container label {
  color: #E1E1E6;

  
  display: flex;
  flex-direction: column;
  
}

.container input {
  background: #191622;
  
  margin-top: .25rem;

  color: #E1E1E6;

  margin-bottom: 1rem; 

  border: none;
  padding: .5rem; 

  border: 1px solid #E1E1E6;
}

.container input::placeholder {
  color: #E1E1E6;
  filter: opacity(.7);
}

.container button {
  background: #d645be;
  color: #E1E1E6;
  border: none;

  padding: .5rem 1rem;
  border-radius: .25rem;


}